@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --color-primary: #007bff;
  --color-gray: #424242;
  --color-black: #000d2f;
  --color-scrollbar: #bdbdbd;
  --color-gray-background: #f8f8f8;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  color: var(--color-black);
  line-height: 45px;
  margin: 0;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  color: var(--color-black);
  line-height: 32px;
  margin: 0;
}

h3 {
  font-size: 28px;
  font-weight: 600;
  color: var(--color-black);
  margin: 0;
}

h4 {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-black);
  line-height: 24px;
  margin: 0;
}

p {
  margin: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: var(--color-black);
}

span {
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.section {
  padding: 2rem 0;
}

@media (max-width: 800px) {
  span {
    font-size: 12px;
  }
  .section {
    padding: 4rem 0;
  }
  p {
    font-size: 16px;
  }
  h4 {
    font-size: 18px;
  }
  h3 {
    font-size: 20px;
  }
  h2 {
    font-size: 24px;
    line-height: 26px;
  }
  h1 {
    font-size: 28px;
    line-height: 30px;
  }
}
